{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
      <article class="post">
        <header class="post-header">
          <span class="post-meta">
              <div class="post-header">
                  <time class="post-date" datetime="{{ post.date_posted.strftime('%Y-%m-%d') }}">
                    <i class="fa fa-calendar"></i>
                    {{ post.date_posted.strftime('%Y-%m-%d') }}
                  </time>
                  {% if post.category %}
                  <span class="post-tags">
                    <i class="fa fa-tag"></i>
                    <a href="{{ url_for('main.get_category_post', category_name=post.category) }}">{{ post.category.capitalize() }}</a>
                  </span> 
                  {% endif %}
                </div>
                <h2 class="post-title">
                  <a href="{{ url_for('posts.post',post_id=post.id) }}">{{ post.title }}</a>
                </h2>
          </span>
        </header>
        <section class="post-content">
          {{ post.content }}
          <div class="post-more">
            <a class="read-more" rel="nofollow" href="{{ url_for('posts.post',post_id=post.id) }}">Read more »</a>
          </div>
        </section>
      </article>
    {% endfor %}

    <div class="pagination">
      {% if posts.has_prev %}
      <a href="{{ url_for('main.home', page=posts.page-1) }}" class="newer-posts">
        Newer Posts
        <span aria-hidden="true">→</span>
      </a>
      {% endif %}
      <span class="page-number">Page {{ posts.page }} of {{ posts.pages }}</span>
      {% if posts.has_next %}
      <a href="{{ url_for('main.home', page=posts.page+1) }}" class="older-posts">
        Older Posts 
        <span aria-hidden="true">→</span>
      </a>
      {% endif %}
    </div>

{% endblock content %}
