{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <!-- <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h2><a class="article-title" href="{{ url_for('posts.post',post_id=post.id) }}">{{ post.title }}</a></h2>
              <small class="text-muted">
                Posted by {{ post.author.username }} on {{ post.date_posted.strftime('%B %d, %Y').capitalize() }}   
                {% if post.category %}
                | <a class="mr-2" href="{{ url_for('main.get_category_post', category_name=post.category) }}">{{ post.category }}</a>
                {% endif %}
              </small>
              <span></span>
            </div>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article> -->

        <article class="post">
          <header class="post-header">
            <span class="post-meta">
                <div class="post-header">
                    <time class="post-date" datetime="2019-12-12">
                      <i class="fa fa-calendar"></i>
                      "2019-12-12"
                    </time>
                    <span class="post-tags">
                      <i class="fa fa-tag"></i>
                      <a href="#">Tag</a>
                    </span> 
                  </div>
                  <h2 class="post-title">
                    <a href="">post title content</a>
                  </h2>
            </span>
          </header>
          <section class="post-content">
              12月6日微软官方博客放出一片博文《
              Microsoft Edge: Making the web 
              better through more open source collaboration》
              ，宣布了Edge浏览器将使用Chromium来开发：Today we’re 
              announcing that we intend ... 
            <div class="post-more">
              <a class="read-more" rel="nofollow" href="">read more >></a>
            </div>
          </section>


        </article>

    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

{% endblock content %}
