<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="jmxHmfZ7hi2R2clqiJaGfz1yDQ49R0-ovnK76Q0LB9U" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='profile_pics/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" /> -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    {% if title %}
        <title>{{ title|title }} | 所以来吧</title>
    {% else %}
        <title>所以来吧</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <span class="navbar-brand">
                <a href="/">所以,来吧</a>
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <i class="fa fa-bars fa-lg"></i>      
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">      
                        <a class="" href="{{ url_for('main.home') }}">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="{{ url_for('main.about') }}">
                            <i class="fa fa-flask"></i>
                            About
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                            account
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a class="" href="{{ url_for('posts.new_post') }}">New Post</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="" href="{{ url_for('users.account') }}">Account</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="" href="{{ url_for('users.logout') }}">Logout</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main role="main" class="main container">
        <div class="flush">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                     {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block content %}{% endblock %}
    </main>
    <footer class="site-footer container-fluid">
        <div class="footer-text">
            <h4>Connect</h4>
        </div>
        <div class="footer-icon"> 
            <a href="https://github.com/zhouhao777" target="_blank"><i class="fa fa-github-square"></i></a>
            <a href="https://weibo.com/u/2788216274"><i class="fa fa-weibo"></i></a>
            <a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a>
            <a href="https://music.163.com/#/user/home?id=44905726"><i class="fa fa-music"></i></a>
        </div>
        <p class="copyright text-center text-muted">
            Copyright © ZhouHao 2018, all rights reserved | Powered by ZhouHao
        </p>
    </footer>
</body>
</html>