* {
  padding: 0;
  margin: 0;
} 
body {
  overflow-x: hidden;
  font-family: 'Open Sans', 'microsoft yahei', serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing:antialiases;
  color: #444;
}
li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
  transition: all .5s ease-in-out;
}
a:hover
a:active {
  text-decoration: none;
}
h1, h2, h4 {
  font-family: 'PT Sans Narraw',Arial, Helvetica, sans-serif;
  font-weight: 700;
}
p {
  font-size: 1rem;
  line-height: 1.8rem;
}
.btn {
  transition: all .3s ease-in-out;
  font-weight: 500 !important;
  text-transform: uppercase;
}
.btn:hover {
  background: #ededed !important;
  color: #3c3c3c !important;
  border: 1px solid #fff;
}
::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}
/* NAVIGATION */
.navbar {
  background-color: #fff;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: .5rem;
  border-bottom: #ddd 1px solid;
}
.navbar-toggler {
  padding: 0;
}
.navbar-toggler i {
  color: #888;
}
.navbar-brand a {
  font-size: 1.8rem;
  font-weight: 800;
  /* color: #666; */
  background: linear-gradient(to bottom,#3654ff 0,#62e6eb 50%,#3654ff 100%);
  -webkit-background-clip: text ;
  color: transparent;

}
.navbar-toggler{
  border: #eee 2px solid;
  width: 40px;
  height: 40px;
}
.nav-item{
  padding: 10px;
}
.nav-item a {
  color: #aaa;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3rem;
  text-decoration: none;
}
.nav-item a:hover {
  opacity: 1;
  color: #888;
}
.dropdown-menu{
  /* background: #66a266; */
  margin: .5rem 0 0;
}

.dropdown-item{
  padding: .15rem 0;
}
.dropdown-item a{
  color: #888;
  text-decoration: none;
  padding-left: 1rem;
  font:0.8rem sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: lowercase;
}
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #eee;
}
.ck-content{
  min-height: 400px;
}



/* main post */
.main{
  padding-top: 70px;
  max-width: 1000px;
  min-height: calc(100vh - 20rem);
}
.flush {
  width: 80%;
  margin: 0 auto;
}
article {
  display: block;
}
.post {
  position: relative;
  width: 80%;
  margin: 0 auto 2rem auto;
  padding-bottom: 3rem;
  border-bottom: rgb(235, 242, 246) .05rem solid;
  word-break: break-word;
  hyphens: auto;
}
.post-meta {
  display: inline-block;
  margin: 0 0 5px;
  font-family: 'Open Sans',sans-serif;
  font-size: 1.15rem;
  color: rgb(153, 153, 153);
}
.post-date, .post-tags {
  margin-right: 20px;
}
.post-tags a {
  color: #aaa;
}
.post-meta .fa {
  margin-right: 5px;
  color: rgb(221, 221, 221);
}
.post-title{
  margin: .5rem 0 1rem 0;
}
.post-title a {
  text-decoration: none;
  color: #3079C1;
  font-size: 2rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
.post-title a:hover {
  color: #5CADFF;
}
.post-content {
  line-height: 1.8rem;
  font-size: 1.0rem;
  text-justify:inter-ideograph;
}
.post-more {
  clear: both;
}
.read-more {
  float: right;
  font-size: .9rem;
  line-height: 1.2em;
}
.post-more a {
  color: rgb(74, 74, 74);
  text-decoration: none;
  border-bottom: .05rem solid rgb(92, 173, 255);
}
/* pagination */
.pagination {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 2rem auto;
  font-family: 'Open Sans',sans-serif;
  font-size: .85rem;
  color: #999;
  text-align: center;
  display: block;
}
.pagination a {
  color: #999;
}
.newer-posts {
  left: 0;
}
.newer-posts, .older-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: .1rem solid #e5e5e5;
  text-decoration: none;
  border-radius: 30px;
  transition: border ease .3s;
}
.page-number {
  display: inline-block;
  padding: .1rem 0;
}
.older-posts {
  right: 0;
}
/* .category */
.category-header {
  padding: 20px 0;
  text-align: center;
  max-width: 700px;
  margin: 0rem auto 2rem auto;
  border-bottom: .05rem solid #EBF2F6;
  position: relative;
  display: block;
}
.category-header h1{
  font-weight: 400;
}
/* footer */
.site-footer{
  margin-top: 5rem;
  margin-bottom: 2rem;
  border-top: 1px solid #ddd;
}
.site-footer .footer-text{
  margin-top: 2rem;
  text-align: center;
}
.footer-text h4{
  color: #888;
  font-weight: 400;
}
.footer-icon{
  text-align: center;
}
.footer-icon .fa{
  padding: 0.2rem 0.3rem;
  color: #999;
  font-size: 1.5rem;
  line-height: 1.4rem;
}
.footer-icon .fa:hover {
  color: #555;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-heading {
  font-size: 2.5rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

